body {
    /*background-color: #ffa07a;*/
	/*background-image: url("Fibnums.jpg");*/

	font-family: "Arial";
    font-size: 20px;
	color: #ab0013;
  
}

#checks1, #checks {
	
}

img {
    width: 100%;
	height: 50%;
	opacity: 0.5;
    filter: alpha(opacity=40);
}

table, td, th {
	border: 1px solid gray;
	vertical-align: center;
}