body {

	font-family: "Arial";
    font-size: 12px;
	color: dark gray;
  
}

h1 {
	text-align: center;
	font-size: 34px;
	font-variant: small-caps;
}

h2 {
	font-variant: small-caps;
	font-size: 18px;
}

#centeredDiv {
	display:inline-block;
}

.mainPageLi {
	font-size: 24px;
	font-variant: small-caps;
}


/*div {
	border: 1px solid blue;
}*/

#myCanvas {
	vertical-align: top;
	text-align: center;
	padding-top: 44px;
}



#startAgainBtn {
	display:none;
}



.pageNav {
	background-color: #999999;
	font-color: white;
	/*position: absolute;*/
	/*top: 0;*/
	width: 100%;
	padding: 7px;
}

.navLi {
	display: inline;
	padding-right: 5%;
	color: #ffffff;
	font-variant: small-caps;
	font-size: 20px;
}

.navList {
	text-align: left;
}

/*
STYLES FOR SHAPES PAGE
*/

#shapeCanvas {
	
}

#shapeForm {
	margin-top: 10px;
}

#clearButton {
	display:none;
}

/*
STYLES FOR BEAM-COL PAGE
*/

#result {
	font-size: 24px;
}